{
  "extends": "react-app",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    // Mocha global variables
    "describe": true,
    "beforeEach": true,
    "before": true,
    "afterEach": true,
    "after": true,
    "it": true
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "only-multiline" // Trailing comma in a function call is a syntax error
    }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }] // Ignore unused 'next' parameter in express middleware since it is needed
  }
}
